$border-color: #5f6368;
$hr-color: #3f4042;
$bg-color: #292a2d;
$bg-dark-color: #202124;
$bg-hover-color: #31353c;
$fg-color: #fff;

$font-size: 13px;

body {
  background: $bg-color;
  border: 1px solid $hr-color;
  border-bottom-width: 2px;
  color: $fg-color;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
  margin: 0;
  padding: 12px;
  width: 256px;

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  button,
  input,
  select {
    background: $bg-dark-color;
    border-radius: 2px;
    border: 1px solid $border-color;
    color: $fg-color;
    font-size: $font-size;
    padding: 3px;

    &:focus-visible {
      outline: 1px solid $border-color;
    }
  }

  button {
    transition: 150ms;
    background: $bg-color;

    &:hover {
      background: $bg-hover-color;
    }
  }

  button,
  input[type='checkbox'] {
    cursor: pointer;
  }

  input[type='checkbox'] {
    filter: invert(0.9) hue-rotate(180deg);
  }

  option {
    background: $bg-color;

    &:not([disabled]) {
      color: $fg-color;
    }
  }

  hr {
    border: 1px solid $hr-color;
  }

  form {
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.75em 0;

      label + input {
        margin-left: 8px;
      }

      button,
      input:not([type='checkbox']),
      select {
        width: 88px;
      }
    }

    button {
      width: 100%;
      padding: 4px;
    }
  }

  h3 {
    font-weight: normal;
  }

  .no-margin-top {
    margin-top: 0;
  }
}

.flex1 {
  flex: 1;
}
